# LangChain SQL
For more details, see:
- https://python.langchain.com/docs/use_cases/qa_structured/sql

In [2]:
from langchain.llms import OpenAI
from langchain.utilities import SQLDatabase

In [3]:
import os
from dotenv import load_dotenv

load_dotenv("../.env")
os.environ['OPENAI_API_KEY'] = os.getenv('OPENAI_API_KEY') or ''

In [4]:
db = SQLDatabase.from_uri("mysql://root:root@127.0.0.1:3316/retailer_db")

## I. Text-to-SQL query and execution

Creating the query

In [5]:
from langchain.chains import create_sql_query_chain
from langchain.chat_models import ChatOpenAI

In [6]:
chain = create_sql_query_chain(ChatOpenAI(temperature=0), db)
response = chain.invoke({"question": "What are the columns in the employee table"})
print(response)

SELECT COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_NAME = 'employees'

Executing the query

In [8]:
db.run(response)

"[('employeeNumber',), ('lastName',), ('firstName',), ('extension',), ('email',), ('officeCode',), ('reportsTo',), ('jobTitle',)]"

Executing on the fly (with a Chain)

In [9]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(
    OpenAI(temperature=0, verbose=True), db, verbose=True
)
db_chain.run("What are the columns in the employee table?")

> Entering new SQLDatabaseChain chain...
What are the columns in the employee table?
SQLQuery:SELECT `COLUMN_NAME` FROM `INFORMATION_SCHEMA`.`COLUMNS` WHERE `TABLE_SCHEMA` = 'employees'
SQLResult:
Answer:employeeNumber, lastName, firstName, extension, email, officeCode, reportsTo, jobTitle
> Finished chain.

'employeeNumber, lastName, firstName, extension, email, officeCode, reportsTo, jobTitle'

## II. SQL agents

In [10]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType

In [11]:
agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0),
    toolkit=SQLDatabaseToolkit(db=db, llm=OpenAI(temperature=0)),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [13]:
agent_executor.run(
    "List the total sales per country. Which country's customers spent the most?"
)

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: customers, employees, offices, orderdetails, orders, payments, productlines, products
Thought: I should query the schema of the orders and payments tables.
Action: sql_db_schema
Action Input: orders, payments
Observation:
CREATE TABLE orders (
	`orderNumber` INTEGER(11) NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER(11) NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB COLLATE latin1_swedish_ci

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER(11) NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB COLLATE latin1_swedish_ci

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/
Thought: I should query the orders and payments tables to get the total sales per country.
Action: sql_db_query
Action Input: SELECT customers.country, SUM(payments.amount) AS total_sales FROM orders INNER JOIN customers ON orders.customerNumber = customers.customerNumber INNER JOIN payments ON payments.customerNumber = customers.customerNumber GROUP BY customers.country ORDER BY total_sales DESC LIMIT 10;
Observation: [('Spain', Decimal('19347573.14')), ('USA', Decimal('17283261.68')), ('France', Decimal('3147509.69')), ('Australia', Decimal('2118017.43')), ('New Zealand', Decimal('1601201.12')), ('Singapore', Decimal('1202937.43')), ('UK', Decimal('1073141.80')), ('Finland', Decimal('885448.05')), ('Italy', Decimal('868182.10')), ('Norway', Decimal('847704.65'))]
Thought: I now know the final answer.
Final Answer: The customers from Spain spent the most, with a total of $19,347,573.14.

> Finished chain.

'The customers from Spain spent the most, with a total of $19,347,573.14.'